{% load staticfiles %}
<html>
    <head>
        <title> My App </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Josefin+Slab">
        <link rel="stylesheet" href="{% static 'css/myapp.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-default">
        <div class="container-fluid page-header">
            <div class="navbar-header">
                <h1><a href="/">My App</a></h1>
            </div>
             {% if user.is_authenticated %}
                <ul class="nav navbar-nav nav-padding">
                    <li><a href="{% url 'movie_list' %}">Movies</a></li>
                    <li><a href="{% url 'song_list' %}">Songs</a></li>
                    <li><a href="{% url 'book_list' %}">Book</a></li>
                </ul>
                <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>

             {% else %} 
                 <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
                 <a href="{% url 'register' %}" class="top-menu"><span class="glyphicon glyphicon-registration-mark"></span></a>
             {% endif %}
         </div>
        </nav>
         <div class "content container">
                 {% block content %}
                 {% endblock %}
         </div>
    </body>
</html>
